footer.bg-dark
    .container
        .row.justify-content-center.text-center.text-light
            .col-md-9.py-3.my-3
                img.w-50.py-3(src="../../../assets/img/logo-white.png", alt="")
                p Built with HTML5, CSS3 and the simple-to-use 12 column responsive CSS  grid layout!
            +footer('Contact Info', listContact)
            +footer('Our Hour', listHour)
            +footer('Service Area', listService)
