- const listNav = [{className:"active", id:"index.html", title:"Home"},{ id:"#", title:"About"},{id:"#", title:"Services"}, {id:"#", title:"Projects"}, {id:"#", title:"Contact Us"}]
- const listSlideNum = [{num:"0", className:'active'}, {num:'1'}, {num:'2'}];
- const listSocial = [{className:"fab fa-facebook", color:"#3b5998"}, {className:"fab fa-twitter", color:"#00aced"}, {className:"fab fa-instagram-square", color:"#3f729b"}, {className:"fab fa-youtube",color:"#c4302b"}, {className:"fab fa-pinterest",color:"#c8232c"}, {className:"fab fa-linkedin", color:"#0e76a8"}];
- const listContact = ['555-555-5555', 'email@email.com', '100 Street Name', 'City, State, 00000'];
- const listHour = ['Monday: 9am - 5pm', 'Saturday: 10am - 4pm', 'Sunday: closed'];
- const listService = ['City, State, 00000', 'City, State, 00000', 'City, State, 00000', 'City, State, 00000'];