extends ../layouts/default-layout

block main
    include ../partials/mixin
    main
        // Image Carosel
        include ../layouts/carousel-layout
        // Social
        include ../layouts/social-layout
        // Complete Website
        include ../layouts/complete-web
        // Fixed Background IMG
        include ../layouts/background-layout
        // Web Design 
        include ../layouts/web-design-layout
        // Meet the Team
        include ../layouts/team-layout
        // Contact 
        include ../layouts/contact-layout