// Bundle Pack Jumbotron
+sticky('sticky-top mb-1','Responsive bundle pack of complete websites!','Check of the website')
// Three column section
.container
    .row.justify-content-center.my-5.text-center
        +web-design('The Agency Website', '../../../assets/img/agency.png')
        +web-design('The Business Website', '../../../assets/img/business.png')
        +web-design('The Parallax Website', '../../../assets/img/parallax.png')

// Border top
.border-top.border-dark.w-100.mx-auto.my-3

// Two Column section
+two-column('The Complete Responsive Website', '../../../assets/img/responsive.png')

// Border top
.border-top.border-dark.w-100.mx-auto.my-3